# Date 25 sep 2019

# Tupels

###  Immutable

In [6]:
name = "apssdc"

In [7]:
name[1:3][::-1]

'sp'

In [8]:
name[0] = "g"

TypeError: 'str' object does not support item assignment

### Mutable

In [9]:
l = [1,21,32,"a",'b']

In [10]:
l.remove(32)

In [11]:
l

[1, 21, 'a', 'b']

In [13]:
b = 12,2.3,"abc"

In [15]:
b,type(b)

((12, 2.3, 'abc'), tuple)

In [17]:
a = ('a',12,2.3,[2,34,'list'],(23,4,"65"))
a

('a', 12, 2.3, [2, 34, 'list'], (23, 4, '65'))

In [19]:
print(a[0]) # indexing
a[0] = "b"

a

TypeError: 'tuple' object does not support item assignment

In [20]:
a

('a', 12, 2.3, [2, 34, 'list'], (23, 4, '65'))

In [21]:
a[-1][::-1]

('65', 4, 23)

In [22]:
a[3][1]

34

In [23]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [24]:
dir(())

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [25]:
a

('a', 12, 2.3, [2, 34, 'list'], (23, 4, '65'))

In [28]:
t1 = (1,2,4,1,5,2)
print('count of 1 in a given tuple',t1.count(1))
t1.index(2)

count of 1 in a given tuple 2

1

In [29]:
t1.index(1)

0

Python program to reverse the given elements in tuple.

Input: Apssdc

Output: cdsspA

In [41]:
input_ = tuple(input())
print("input data",input_,type(input_))
for ele in input_[::-1]:
    print(ele,sep = "",end = "")

Apssdc
input data ('A', 'p', 's', 's', 'd', 'c') <class 'tuple'>
cdsspA

In [42]:
input_2 = tuple(input())
print(input_2)
"".join(input_2[::-1])

Apssdc
('A', 'p', 's', 's', 'd', 'c')

'cdsspA'

Python program to print names in tuples using iterations

Input : Sri Padmavthi mahila university- In Tuple

Output : Sri 

        padmavathi

        Mahila

        University

In [48]:
name = tuple('Sri Padmavthi mahila university'.split())

In [50]:
for ele in name:
    print(ele)

Sri
Padmavthi
mahila
university

In [52]:
print("\n".join(name))

Sri
Padmavthi
mahila
university

# Set

In [53]:
l = [1,2,4,32,2,21,342,12,231,1,1,2,34,4]
s = set(l)
s

{1, 2, 4, 12, 21, 32, 34, 231, 342}

In [54]:
crs = {'w','d','A','T','a','a','t','W','A',"p"}

In [55]:
crs

{'A', 'T', 'W', 'a', 'd', 'p', 't', 'w'}

In [56]:
ord("a")

97

In [57]:
crs[0]

TypeError: 'set' object is not subscriptable

In [59]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [61]:
a = {1,2,3,4,5}
b = {3,4,5,6}

In [62]:
a.intersection(b)

{3, 4, 5}

In [63]:
b.union(a)

{1, 2, 3, 4, 5, 6}

In [64]:
a.issubset(b)

False

In [65]:
b.issubset(a)

False

In [66]:
a.symmetric_difference(b)

{1, 2, 6}

In [68]:
print(a,b)
a.symmetric_difference_update(b)
a

{1, 2, 3, 4, 5} {3, 4, 5, 6}

{1, 2, 6}

In [69]:
a

{1, 2, 6}

In [70]:
len(a)

3

Give any string find out the unique length .

Input : abcdadce

Output: 5

In [72]:
 print(len(set(input())))

adaaasdac
4

# Dictionary

In [73]:
details = ['d,'sep',2019,'apssdc',20,'python']
d_details = {'program':'mstp','month':'sep','year':2019}

In [74]:
d = {1:'abc',2:123,'dict':{1:'a',2:'b'},'list':[1,2,3,4]}

In [75]:
d

{1: 'abc', 2: 123, 'dict': {1: 'a', 2: 'b'}, 'list': [1, 2, 3, 4]}

In [76]:
details[0]

'mstp'

In [77]:
print(d[1])
print(d[2])
print(d[3])

abc
123

KeyError: 3

In [78]:
d['dict']

{1: 'a', 2: 'b'}

In [79]:
d['list']

[1, 2, 3, 4]

In [80]:
programing_l = {1:'c',2:"c++",3:"java"}
personal_details = {'name':"vasantha",'age':68,'gender':"?"}

In [82]:
programing_l[4] = 'python'

In [83]:
programing_l

{1: 'c', 2: 'c++', 3: 'java', 4: 'python'}

In [86]:
personal_details['gender'] = "female"

In [87]:
personal_details

{'name': 'vasantha', 'age': 68, 'gender': 'female'}

In [88]:
len(personal_details)

3

In [92]:
for ele in personal_details.values():
    print(ele)

vasantha
68
female

In [93]:
for ele in personal_details.keys():
    print(ele)

name
age
gender

In [95]:
for ele1,ele2 in personal_details.items():
    print(ele1,ele2,sep = " : ")

name : vasantha
age : 68
gender : female

In [96]:
for ele in personal_details.items():
    print(ele,type(ele))

('name', 'vasantha') <class 'tuple'>
('age', 68) <class 'tuple'>
('gender', 'female') <class 'tuple'>

In [97]:
help(print())

Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [99]:
print(1,2,3,4)
print(5,6,7,8)

1 2 3 4
5 6 7 8

In [100]:
print(1,2,3,4,sep = "@",end = "+")
print(5,6,7,8)

1@2@3@4+5 6 7 8

In [101]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [102]:
d

{1: 'abc', 2: 123, 'dict': {1: 'a', 2: 'b'}, 'list': [1, 2, 3, 4]}

In [103]:
d.clear()
d

{}

In [105]:
d_details

{'program': 'mstp', 'month': 'sep', 'year': 2019}

In [108]:
help(dict.copy)

Help on method_descriptor:

copy(...)
    D.copy() -> a shallow copy of D

In [112]:
c_details = d_details.copy()
c_details

{'program': 'mstp', 'month': 'sep', 'year': 2019}

In [113]:
d_details['count'] = 20

In [114]:
d_details

{'program': 'mstp', 'month': 'sep', 'year': 2019, 'count': 20}

In [119]:
test = programing_l
test

{1: 'c', 2: 'c++', 3: 'java', 4: 'python'}

In [122]:
test[1]="nothimng"

In [123]:
test

{1: 'nothimng', 2: 'c++', 3: 'java', 4: 'python'}

In [124]:
programing_l

{1: 'nothimng', 2: 'c++', 3: 'java', 4: 'python'}

In [125]:
g = {1:'abc',2:123}

In [126]:
f = g
f

{1: 'abc', 2: 123}

In [127]:
f[1] = 45

In [128]:
f,g

({1: 45, 2: 123}, {1: 45, 2: 123})

In [129]:
a = 'girisha'
b = 'girisha'

In [130]:
id(a),id(b)

(1882384313288, 1882384313288)

Maximum length: Print the words which length has maximum if multiple names has max length print that names in same line.

Sample Input : krishna aditya ram eshwer

Sample output : krishna

In [140]:
name = "krishna aditya ram eshwer".split()
len_name = []
for ele in name:
    len_name.append(len(ele))
name[len_name.index(max(len_name))]

'krishna'

In [141]:
name = "krish aditya ram eshwer".split() # ['krish','aditya','ram','eshwer']
len_name = []
for ele in name:
    len_name.append(len(ele)) # [5,6,3,6]
max_name = max(len_name) # 6
for i in range(len(name)):# 0 1 2 3
    if max_name == len(name[i]):
        print(name[i])

aditya
eshwer

## Tasks
names="Apollo Brix Chichi krish", Print the names which has duplicate characters

output: Apollo Chichi

In [6]:
n = "Apollo Brix Chichi krish".split()
for name in n:
    o_len = len(name) #6
    set_len = len(set(name)) #Apol 4
    if o_len != set_len:
        print(name,end = " ")

Apollo Chichi