#  Lambda
- lambda arguments expression
- we can write 0 or more arguments but only one expression

In [1]:
def cube(x):
    print(x**3)
cube(5)

125

In [3]:
result=lambda x : x**3
result(5)

125

#### Multiply given number with 109 by using lambda function

In [4]:
5*109

545

In [5]:
a = lambda s : s*109
a(2)

218

### Write a program to print cubes of 1 to 6 numbers without using loops

In [7]:
li=[1,2,3,4,5,6]
res=lambda x : x**3
list(map(res,li))

[1, 8, 27, 64, 125, 216]

In [8]:
list(map(lambda x : x**3 , [1,2,3,4,5,6]))

[1, 8, 27, 64, 125, 216]

#### Filters
#### Filter function in python is used to check wheather given element is boolean or not(True or False)
#### Syntax : filter(Function,Sequence)

In [27]:
# Given one list li=[1,2,"q","l"]
def isDigit(a):
    a=str(a)
    if a.isdigit():
        return True
    return False
isDigit(1)

True

In [34]:
li=[1,2,"q","l"]
list(filter(isDigit,li))

[1, 2]

#### To print all prime numbers for a given range using filter() function

In [31]:
def prime(number):
    count=0
    for i in range(1,number+1):
        if number%i==0:
            count+=1
    if count==2:
        return True
    return False
prime(10)

False

In [37]:
list(filter(prime,range(100,200)))

[101,
 103,
 107,
 109,
 113,
 127,
 131,
 137,
 139,
 149,
 151,
 157,
 163,
 167,
 173,
 179,
 181,
 191,
 193,
 197,
 199]

In [46]:
"".join(filter(isDigit,['1','2','3']))

'123'

### print all even numbers in the range between 20 to 50 using lambda and filter funcyion

In [47]:
a = lambda x : x%2==0
list(filter(a,range(20,51)))

[20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [3]:
from random import randint
def generatemarks(n,lb,ub):
    filename="data.txt"
    with open(filename,"w") as f:
        for i in range(n):
            marks=randint(lb,ub)
            f.write(str(marks)+"\n")
    return

generatemarks(1000,0,100)

In [52]:
# ClassAverage---
#pass percentage--- > 30
#Fail Percentage----< 30
# Distinction----- > 70    BY using Filters and Lambda Function

In [7]:
def readMarkslist(filename):
    with open(filename,"r") as f:
        filedata=f.read().split()
    return list(map(int,filedata))

In [10]:
def classAverage(filename):
    markslist = readMarkslist(filename)
    average=sum(markslist)//len(markslist)
    return average
classAverage("data.txt")

51

In [11]:
def failedpercentage(filename):
    markslist = readMarkslist(filename)
    failedcount=len(list(filter(lambda marks : marks < 40,markslist)))
    return (failedcount/len(markslist))*100
failedpercentage("data.txt")

36.7

####  Given two list l1 and l2 ,l1 contains first name l2 contains last name.write a program to print single list that should contains full name of l1 and l2 and first letter must be capitals

In [58]:
l1=["alekhya","gireesha"]
l2=["ganji","devara"]
a=lambda x,y :x[0].upper()+x[1:]+" "+y[0].upper()+y[1:] # x=alekhya,y = ganji
list(map(a,l1,l2))

['Alekhya Ganji', 'Gireesha Devara']

In [ ]:
lambda x : x>70